<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
   <urlCompression doStaticCompression="false" doDynamicCompression="false" dynamicCompressionBeforeCache="false" />
   <httpProtocol>
      <customHeaders>
         <add name="content-encoding" value="gzip" />
      </customHeaders>
   </httpProtocol>
  </system.webServer>
</configuration>